{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<section class="hero is-primary is-bold is-large">
<center>Purchase</center>
</section>
<div class="hero-body">
  <div class="purchase">
    <center><h2>{{message}}</h2></center>
    <form action="/charge" method="post">
      <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="{{ key }}"
        data-description="Charge"
        data-amount="100"
        data-locale="auto">
      </script>
    </form>
  </div>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
